In [ ]:
def mutasi_organizer(file1):
    df = pd.read_excel(file1, skiprows=6, header=None)  # no header, read as raw data

    # Keep only necessary columns: col 0 (Tanggal), col 1 (Keterangan), col 3 (Jumlah), col 4 (Saldo)
    df = df[[0, 1, 3, 4]]
    df.columns = ['Tanggal Transaksi', 'Keterangan', 'Jumlah', 'Saldo']

    # Convert 'Jumlah' to string
    df['Jumlah'] = df['Jumlah'].astype(str)

    # Extract numeric value and transaction type
    df['Nominal'] = df['Jumlah'].str.replace(',', '').str.extract(r'([\d.]+)').astype(float)
    df['Jenis Transaksi'] = df['Jumlah'].str[-2:]

    # Create Debit and Kredit columns based on 'Jenis Transaksi'
    df['Debit'] = np.where(df['Jenis Transaksi'] == 'DB', df['Nominal'], 0)
    df['Kredit'] = np.where(df['Jenis Transaksi'] == 'CR', df['Nominal'], 0)

    # Drop 'Jumlah', 'Nominal', 'Jenis Transaksi'
    df = df.drop(columns=['Jumlah', 'Nominal', 'Jenis Transaksi'])

    # Final column order
    new_columns_order = ['Tanggal Transaksi', 'Keterangan', 'Debit', 'Kredit', 'Saldo']
    df = df.reindex(columns=new_columns_order)

    return df

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("D:\Metro-Loan-App\CorpAcctTrxn202553101438290.csv", header=None)  # no header, read as raw data
df

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\bmpri\AppData\Local\Temp\ipykernel_12300\834218901.py:1: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv("D:\Metro-Loan-App\CorpAcctTrxn202553101438290.csv", header=None)  # no header, read as raw data

,0,1,2,3,4,5
0,Informasi Rekening - Mutasi Rekening,,,,,NaN
1,No. rekening : 2180882025,NaN,NaN,NaN,NaN,NaN
2,Nama : MG BALI LAIN2,NaN,NaN,NaN,NaN,NaN
3,Periode : 15/05/2025 - 31/05/2025,NaN,NaN,NaN,NaN,NaN
4,Kode Mata Uang : Rp,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
83,30/05/2025,TARIKAN ATM 30/05 6019006000724198,0000,"1,900,000.00 DB","53,392.00",NaN
84,"Saldo Awal : 4,092.00",NaN,NaN,NaN,NaN,NaN
85,"Mutasi Debet : 13,500,000.00",7,NaN,NaN,NaN,NaN
86,"Mutasi Kredit : 13,549,300.00",4,NaN,NaN,NaN,NaN
87,"Saldo Akhir : 53,392.00",NaN,NaN,NaN,NaN,NaN

In [5]:


# Keep only necessary columns: col 0 (Tanggal), col 1 (Keterangan), col 3 (Jumlah), col 4 (Saldo)
df = df[[0, 1, 3, 4]]
df.columns = ['Tanggal Transaksi', 'Keterangan', 'Jumlah', 'Saldo']

# Convert 'Jumlah' to string
df['Jumlah'] = df['Jumlah'].astype(str)

# Extract numeric value and transaction type
df['Nominal'] = df['Jumlah'].str.replace(',', '').str.extract(r'([\d.]+)').astype(float)
df['Jenis Transaksi'] = df['Jumlah'].str[-2:]

# Create Debit and Kredit columns based on 'Jenis Transaksi'
df['Debit'] = np.where(df['Jenis Transaksi'] == 'DB', df['Nominal'], 0)
df['Kredit'] = np.where(df['Jenis Transaksi'] == 'CR', df['Nominal'], 0)

# Drop 'Jumlah', 'Nominal', 'Jenis Transaksi'
df = df.drop(columns=['Jumlah', 'Nominal', 'Jenis Transaksi'])

# Final column order
new_columns_order = ['Tanggal Transaksi', 'Keterangan', 'Debit', 'Kredit', 'Saldo']
df = df.reindex(columns=new_columns_order)

C:\Users\bmpri\AppData\Local\Temp\ipykernel_12300\3920837447.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jumlah'] = df['Jumlah'].astype(str)
C:\Users\bmpri\AppData\Local\Temp\ipykernel_12300\3920837447.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Nominal'] = df['Jumlah'].str.replace(',', '').str.extract(r'([\d.]+)').astype(float)

In [6]:
df

,Tanggal Transaksi,Keterangan,Debit,Kredit,Saldo
0,Informasi Rekening - Mutasi Rekening,,0.0,0.0,
1,No. rekening : 2180882025,NaN,0.0,0.0,NaN
2,Nama : MG BALI LAIN2,NaN,0.0,0.0,NaN
3,Periode : 15/05/2025 - 31/05/2025,NaN,0.0,0.0,NaN
4,Kode Mata Uang : Rp,NaN,0.0,0.0,NaN
...,...,...,...,...,...
83,30/05/2025,TARIKAN ATM 30/05 6019006000724198,1900000.0,0.0,"53,392.00"
84,"Saldo Awal : 4,092.00",NaN,0.0,0.0,NaN
85,"Mutasi Debet : 13,500,000.00",7,0.0,0.0,NaN
86,"Mutasi Kredit : 13,549,300.00",4,0.0,0.0,NaN
87,"Saldo Akhir : 53,392.00",NaN,0.0,0.0,NaN